<!--garden page-->
<html>
<head>
    <style>
        
    </style>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>My Garden</title>

    <!--linking js and css-->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/Nurture.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/js/jQueryUI.js"></script>

	<script src="/js/functionality.js"></script>
    <script src="/js/garden.js"></script>

</head>
<body>

	<div id= "menu">

			<div id ="hamburger">
			<img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/hamburger.png" height=50px width=50px>
			</div>

				<ul id= "cross">
						<img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/x.png" height=50px width=50px>
				</ul>
				
				<ul class = "panel">

				</ul>

				<ul id ="hamWords" style="list-style:none; line-height:120px;">
                    <li><a href="/">Home</a></li>
					<li><a href="/settings/Profile">Profile</a></li>
					<li><a href="/mygarden">My Garden </a></li> 
					<li><a href="/settings/Help">Help</a></li>
					<li><a href="/settings/Logout">Logout</a></li>
				</ul>
				
			
		</div>

        <!--adding margins - wait do we want this-->
        <div class="container">

                <div id="MyGardenTitle">
                    My Garden
                </div>
            <!--circle with total in it-->
                <div id="total" style = "text-align: center;">
                    3
                </div>

                <div id="History">
                    <!--loop through the dataset-->
                    {{#each plants}}
                        <div class="plants">
                            <div>
                            <img src = {{image}} style= "float: right;" class="img-responsive" >
                        
                                <p>
                                    {{name}}
                                    {{date}}         
                                    {{time}}
                                   
                                </p>
                                

                            </div>
                            </div>
                    
                    {{/each}}
                

        </div>

</body>
</html>

