<!--garden page-->
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>My Garden</title>

    <!--liinking js and css-->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/Nurture.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script src="/js/functionality.js"></script>
    <script src="/js/garden.js"></script>

</head>
<body>

    <!--adding margins - wait do we want this-->
	<div class="container">

        <h4>My Garden</h4>

		

	</div>

</body>
</html>

