<html>
<head>
	<title>Nurture Timer Start</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/Nurture.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script src="/js/functionality.js"></script>

</head>
<body>

	<div class="screen">

		<div id= "hamburger">
			<a href="/nurture2">
			<img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/x.png" height=50px width=50px>
			</a>
		</div>

		<div id="hamWords">
			<ul style="list-style:none; line-height:120px;">
				<li>Profile</li>
				<li>My Garden</li>
				<li>Help</li>
				<li>Logout</li>
			</ul>
		</div>

		<div class="panel">
		</div>

		<div id="timer">
		</div>

		<div id="timer-btn-active">
		</div>

		<img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/planted.png" class="planted" />

		<!--
		<svg height=relative width=relative>
			<rect x=320px y=50px rx=20px height=500px width=30px id="timer"></rect>
		</svg>
		-->



		<div class="ground">

			<div class="btn-back">
				Nurturing...

				<br>

				<a href="/">
				<button id="nurture-btn">
					Abandon &#9760;
				</button>
				</a>
			</div>

		</div>

	</div>

</body>
</html>
