<html>
<head>
	<title>Nurture Timer Start</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/Nurture.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="screen">

		<div id="timer">
		</div>

		<div id="timer-btn-active">
		</div>

		<img src="/resources/planted.png" class="planted" />

		<!--
		<svg height=relative width=relative>
			<rect x=320px y=50px rx=20px height=500px width=30px id="timer"></rect>
		</svg>
		-->

		<div id= "hamburger">
			<img src="/resources/hamburger.png" height=50px width=50px>
		</div>

		<div class="ground">

			<div class="btn-back">
				Nurturing...

				<br>

				<button id="nurture-btn">
					Abandon &#9760;
				</button>
			</div>

		</div>

	</div>

</body>
</html>
