<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Nurture</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/Nurture.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script src="/js/functionality.js"></script>

</head>
<body>


	<div class="screen">

		<div id= "hamburger">
			<a href="/">
				<img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/x.png" height=50px width=50px>
			</a>
		</div>

		<div id="hamWords">
			<ul style="list-style:none; line-height:120px;">
				<li><a href="/settings/Profile">Profile</a></li>
				<li><a href="/mygarden">My Garden </a></li> 
				<li><a href="/settings/Help">Help</a></li>
				<li><a href="/settings/Logout">Logout</a></li>
			</ul>
		</div>

		<div class="panel">
		</div>

		<div id="banner">
			Set how long you'd like to nurture!
		</div>

		<div id="timer">
		</div>

		<div id="timer-btn">
		</div>

		<img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/hands.png" class="hands-img" />

		<!--
		<svg height=relative width=relative>
			<rect x=320px y=50px rx=20px height=500px width=30px id="timer"></rect>
		</svg>
		-->

		<div class="ground">

			<div class="btn-back">
				Start Nurturing!

				<br>

				<a href="/nurture2">
				<button id="nurture-btn">
					Nurture &hearts;
				</button>
				</a>
			</div>

		</div>

	</div>

</body>
</html>
