<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Nurture</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/Nurture.css" rel="stylesheet">
	<link href="/css/Animations.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/js/jQueryUI.js"></script>

	<script src="/js/functionality.js"></script>

	<!-- Import Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">

</head>
<body>
	<img id="sky" class="timelapse" src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/Sky%20Gradient.png" width="100%">

	<div id="inactivator"></div>

			<div id ="hamburger">
			<img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/hamburger.png" height=50px width=50px>
			</div>

			<ul id= "cross">
				<img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/x.png" height=50px width=50px>
			</ul>
				
			<div class = "panel">

				<ul id ="hamWords" style="list-style:none; line-height:120px;">
					<li><a class = "Home">Home</a></li>
					<li><a href="/mygarden">My Garden</a></li> 
					<li><a href="#">Collaborate</a></li>
					<li><a href="/settings/Help">Help</a></li>
					<li><a href="/login">Logout</a></li>
				</ul>
			</div>

		<div id="hourglass">
			<button id="hourglass-btn">
			</button>
		</div>

		<div id="hourglass-alert">
			Use the slider above to set the time!
		</div>

		<div id="banner">
			Set how long you'd like to nurture!
		</div>

		<div id="timer">
		</div>

		<div id="progressTimer"></div>
		<div id="timer-btn" class="ui-draggable ui-draggable-handle">
			<svg width=100% height=100%>
				<circle cx=75 cy=20 r=20 fill=white class="glowing" />
			</svg>
			<div id="min-indicator">
			</div>
		</div>

		<img src="https://github.com/a1peralt/ixd-skeleton/blob/master/resources/hand-sprout-color.png?raw=true" class="hands-img" />

		<img src="https://github.com/a1peralt/ixd-skeleton/blob/master/resources/sprout.png?raw=true" class="planted" />

		<div class="ground">
			

			<button id="nurture-btn" style= "margin:auto;">
					Nurture <img src="https://github.com/a1peralt/ixd-skeleton/blob/master/resources/heart-color.png?raw=true" class="heart-img" />
			</button>

			<div class="btn-back">

				<br>

				<br>

			</div>



		</div>

			<!--add to garden screen -->
			<div class="addToGardenScreen" >
			
					Do you want to add this plant to your garden?

						<br>

						<br>

						<button id="yes-btn"> Yes </button>
						<button id="no-btn"> No </button>
			</div> <!-- addToGardenScreen -->

		<div id="confirmation-screen">
			Are you sure you want to abandon?

			<br>
			
			<br>

			<button id="yes-btn"> Yes </button>
			<button id="no-btn"> No </button>

		</div>
	
</body>
</html>
