<html>
<head>
	<title>Nurture</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/Nurture.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script src="/js/functionality.js"></script>

</head>
<body>


	<div class="screen">

		<div class="settingsName">
			{{pageName}}
		</div>

		<span style="padding:20px; text-align: left;">We are currently under construction!</span>
		<br>
		<a href="/"><span style="padding:20px; text-align: center;">Click here to return home</span></a>

	</div>

</body>
</html>
