/*Nurture Button glow*/
@keyframes glowing {
  0% { box-shadow: 0 0 -10px #c4a300; }
  40% { box-shadow: 0 0 20px #c4a300; }
  60% { box-shadow: 0 0 20px #c4a300; }
  100% { box-shadow: 0 0 -10px #c4a300; }
}

.button-glow {
  animation: glowing 1500ms infinite;
}



/*Moves the background*/
@keyframes timelapse{
	0%{bottom:10px;}
	50%{bottom:-3188px;}
	100%{bottom:125px;}
}

.timelapse{
	animation: timelapse 240000ms infinite;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}



/*hourglass Button glow*/
@keyframes whiteglow {
  0% { box-shadow: 0 0 -10px #ffffff; }
  40% { box-shadow: 0 0 20px #ffffff; }
  60% { box-shadow: 0 0 20px #ffffff; }
  100% { box-shadow: 0 0 -10px #ffffff; }
}

.hourglass-glow {
  animation: whiteglow 2000ms infinite;
}


/*Moves the ground to position after user sets time*/
@keyframes groundslide{
  0%{ bottom:-130px; }
  100%{bottom: 0px; }
}

.groundslide{
  animation: groundslide 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}


@keyframes barbershop{
    0%{background-position: 0px 0px;}
    100%{background-position: 0px -28px;}
}

.barbershop{
  background-image:  
      repeating-linear-gradient(45deg, #285580, #285580 12px, #f2f2f2 12px, #f2f2f2 20px);

  background-size: 150% 150%;

  animation: barbershop 1000ms infinite linear forwards;
}