body{
	margin:auto;
	font-family: 'Fredoka One', cursive;
	overflow: hidden;

}

.screen{
	height:100%;
	background-image: url('https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/Sky%20Gradient.png');
	background-position: 0px 1000px;

	overflow: hidden;
}

#sky{
	position: absolute;
	bottom: 10px;
}

.panel{
	/*Positioning*/
	position: absolute;
	z-index: 1;
	width:75%;
	height:100%;
	display: block;

	/*Color*/
	background-color: white;

	overflow: visible;

}

#inactivator{

	/*Size and position*/
	position: absolute;
	height:100%;
	width:100%;
	z-index: 1;

	/*Appearance*/
	background-color: black;
	filter: opacity(0.7);

}

#hamWords{

	/*Positioning*/
	position: absolute;
	z-index:2;
	top:100px;
	left:75px;

	/*Size*/
	height:600px;
	width:200px;

	/*Text*/
	text-align: left;
	font-size: 30px;
	color:grey;
	padding:5px;


}

#MyGardenTitle{
	width: 250px;
	line-height: 70px;
	position: absolute;
	font-size: 40px;
	vertical-align: middle;
	text-align: center;
	left:60px;
	top:80px;
}

#banner{
	width: 250px;
	line-height: 70px;
	position: absolute;
	font-size: 65px;
	vertical-align: middle;
	text-align: left;
	left:15px;
	top:80px;

	/*text-shadow: 1px 3px 5px black;*/
	color:white;
}

#hamburger{
	/*Positioning*/
	position:absolute;
	left:10px;
	top:10px;
	z-index: 2;

	/*Size*/
	height:50px;
	width:50px;
}

#cross{
	/*Positioning*/
	position:absolute;
	left:-20px;
	top:10px;
	z-index: 2;

	/*Size*/
	height:50px;
	width:50px;
	
}

.ground{

	/*Appearance*/
	background-image: url(https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/Ground.png);
	background-size:100% 250px;
	background-repeat: no-repeat;
	background-position: 0px -25px;

	/*Positioning*/
	position: absolute;
	bottom: -130px;
	height:180px;
	width:100%;

	/*Text*/
	color:white;
	font-size: 20px;

	/*Center content*/
	display: flex;
	align-items: center;
	overflow:hidden;

}

#nurture-btn{

	/*Center*/
	display: block;
	margin: 0 auto;

	font-size: 35px;
	letter-spacing: 2px;
	color:black;
	width:300px;

	border-radius: 15px;
	background-color: white;
}

#timer{
	/*Positioning*/
	position: absolute;
	right:6.5%;
	top:50px;
	width:30px;
	height: 500px;

	background-color: lightgray;
	filter: opacity(0.6);
	border-radius: 20px;
}


#progressTimer{
	/*Positioning*/
	position: absolute;
	right:6.5%;
	top:550px;
	width:30px;
	height:0px;

	transform: rotateX(180deg);
	transform-origin: top;

	background-color: #3279a8;
	border-radius: 20px;

	visibility: hidden;

	overflow: hidden;
}

#timer-btn{
	/*Positioning*/
	position: absolute;
	right:4%;
	top:515px;
	width:100px;
	height:44px;

}

#min-indicator{
	/*Positioning*/
	visibility: hidden;
	position: absolute;
	left:0;
	top:0;
	/*background-color: royalblue;*/
	overflow: hidden;

	/*Background*/
	width:50px;
	height:40px;

	/*Font*/
	font-size:18px;
	color:white;
	vertical-align: middle;
}

#total{
	/*Positioning*/
	position: absolute;
	left:140px;
	top:170px;
	width:80px;
	height:80px;

	border-radius: 100%;
	background-color: rgb(231, 241, 250);
	filter: opacity(0.8);

	font-size: 50px;
	vertical-align: middle;
	text-align: left;
}

#timer-btn-active{
	/*Positioning*/
	position: absolute;
	left:313px;
	top:55px;
	width:44px;
	height:44px;

	border-radius: 100%;
	background-color: white;
	filter: opacity(0.8);
}

.hands-img{
	/*Positioning*/
	position: absolute;
	left:0px;
	top:540px;
	object-position: -20px;

	width:200px;
	height:200px;

}

.planted{
	/*Positioning*/
	position: absolute;
	top:450px;
	left:80px;

	width:200px;
	height:200px;
}

.settingsName{

	padding-top: 80px;
	padding-left: 20px;
	font-size: 55px;
}

a{
	color:gray;
}
a:hover{
	text-decoration: none;
	color: black;
}

.heart-img{

	display: inline-block;

	width:50px;
	height:50px;
}

.broken-heart{

	display: inline-block;

	width:50px;
	height:50px;	
}

.plants{
	width: 80px;
	height:80px;
	left: 50px;
	margin-bottom: 90px;
}

#History{
	/*Positioning*/
	position: absolute;
	left:30px;
	top:290px;
}

.summary{
	position: absolute;
	
}

#bkgplant{
	position: absolute;
	left:30px;
	top:290px;	
	width:80px;
	height:80px;

	border-radius: 100%;
	background-color: rgb(231, 241, 250);
	filter: opacity(0.8);
}

#hourglass-btn{
	background-image:url("https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/hourglass.png");
	background-size:cover;

	/*Positioning*/
	position:absolute;
	left:309.5px;
	top: 565.5px;
	z-index: 0;

	/*Appearance*/
	width: 50px;
	height: 50px;
	border: 1px solid black;
	border-radius: 100%;

	z-index: 0;
}

#hourglass-alert{
	width: 120px;
	line-height: 20px;
	position: absolute;
	font-size: 18px;
	vertical-align: middle;
	text-align: left;
	left:185px;
	top:555px;
	color:white;
}

#userInputScreen{
	border:3px solid green;
	background-color: white;
	border-radius: 15px;

	position: absolute;
	width: 280px;
	height: 100px;
	color: #ffffff;

	padding-top: 10px;
	top: 50%;
	left: 50%;


	transform: translate(-50%,-50%);
	z-index: 3;

	visibility: hidden;
}

#userInput{
	/*Text box positioning*/
	display: block;
	margin: 0 auto;
	text-align: center;

	/*Text box style*/
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid green;

	/*Text*/
	color:black;
	font-size: 18px;
}

#confirmation-screen{
	background-color: white;
	border:1px solid #000000;
	border-radius: 15px;

	position: absolute;
	width: 280px;
	height: 220px;
	color: black;

	font-size: 24px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	padding: 30px;

	top: 50%;
	left: 50%;

	transform: translate(-50%,-50%);

	z-index: 1;
}

#yes-btn{
	padding: 12px 28px;
	font-size: 22px;
	background-color: white;
	color: #4CAF50;
	border: 2px solid #4CAF50;
	border-radius: 12px;
	transition-duration: 0.4s;
}

#no-btn{
	padding: 12px 24px;
	font-size: 22px;
	background-color: white;
	color: #f44336;
	border: 2px solid #f44336;
	border-radius: 12px;
	transition-duration: 0.4s;
}

#yes-btn:hover{
	background-color: #4CAF50;
	color: white;
}

#no-btn:hover{
	background-color: #f44336;
	color: white;
}
